In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns

In [2]:
data=pd.read_csv('train.csv')

In [3]:
data.head()

   id name                date  market
0   0  BTC  2013+AC0-08+AC0-01  190367
1   1  BTC  2013+AC0-08+AC0-02  183766
2   2  BTC  2013+AC0-08+AC0-03  211731
3   3  BTC  2013+AC0-08+AC0-04  226680
4   4  BTC  2013+AC0-08+AC0-05  227272

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5002 entries, 0 to 5001
Data columns (total 4 columns):
id        5002 non-null int64
name      5002 non-null object
date      5002 non-null object
market    5002 non-null int64
dtypes: int64(2), object(2)
memory usage: 156.4+ KB

In [5]:
data.name.unique()

array(['BTC', 'ETH', 'MON'], dtype=object)

In [6]:
data_BTC=data.loc[data.index[data.name == 'BTC']]

In [7]:
data_BTC.head()

   id name                date  market
0   0  BTC  2013+AC0-08+AC0-01  190367
1   1  BTC  2013+AC0-08+AC0-02  183766
2   2  BTC  2013+AC0-08+AC0-03  211731
3   3  BTC  2013+AC0-08+AC0-04  226680
4   4  BTC  2013+AC0-08+AC0-05  227272

In [8]:
data_ETH=data.loc[data.index[data.name == 'ETH']]

In [9]:
data_MON=data.loc[data.index[data.name == 'MON']]

In [10]:
data_MON.head()

        id name                date  market
3330  3330  MON  2013+AC0-08+AC0-01  126306
3331  3331  MON  2013+AC0-08+AC0-02  119589
3332  3332  MON  2013+AC0-08+AC0-03  113817
3333  3333  MON  2013+AC0-08+AC0-04  121656
3334  3334  MON  2013+AC0-08+AC0-05  123141

In [ ]:
#data_MON_ind.drop(columns='index', inplace=True)

In [ ]:
#data_MON_ind.head(2)

# Очищаем столбец с датами от ненужных символов

In [13]:
import re

In [14]:
def prepr_date(txt):
    if type(txt) != str:
        return None
    else:
        return re.sub(r'[+]|(AC0)', ' ', txt)
    
    
text_cols=['date']

for c in text_cols:
    data[c]=data[c].map(prepr_date)

In [15]:
data.head()

   id name            date  market
0   0  BTC  2013  -08  -01  190367
1   1  BTC  2013  -08  -02  183766
2   2  BTC  2013  -08  -03  211731
3   3  BTC  2013  -08  -04  226680
4   4  BTC  2013  -08  -05  227272

### Преобразовываем столбец с датами к нормальному виду

In [16]:
data['date']=pd.to_datetime(data['date'])

In [17]:
data.head()

   id name       date  market
0   0  BTC 2013-08-01  190367
1   1  BTC 2013-08-02  183766
2   2  BTC 2013-08-03  211731
3   3  BTC 2013-08-04  226680
4   4  BTC 2013-08-05  227272

In [18]:
data_BTC=data.loc[data.index[data.name == 'BTC']]
data_ETH=data.loc[data.index[data.name == 'ETH']]
data_MON=data.loc[data.index[data.name == 'MON']]

In [19]:
data_BTC.head(2)

   id name       date  market
0   0  BTC 2013-08-01  190367
1   1  BTC 2013-08-02  183766

In [20]:
data_MON.head(2)

        id name       date  market
3330  3330  MON 2013-08-01  126306
3331  3331  MON 2013-08-02  119589

### Уберем ненужные столбцы

In [21]:
data_BTC.drop(columns=['id', 'name'], inplace=True)
data_ETH.drop(columns=['id', 'name'], inplace=True)
data_MON.drop(columns=['id', 'name'], inplace=True)

In [39]:
data_BTC.head()

        date  market
0 2013-08-01  190367
1 2013-08-02  183766
2 2013-08-03  211731
3 2013-08-04  226680
4 2013-08-05  227272

In [23]:
data_BTC_res_2=data_BTC.reindex(index=data_BTC['date'] )

In [24]:
data_BTC_res_2.head()

           date  market
date
2013-08-01  NaT     NaN
2013-08-02  NaT     NaN
2013-08-03  NaT     NaN
2013-08-04  NaT     NaN
2013-08-05  NaT     NaN

In [31]:
df_BTC_res=data_BTC

In [52]:
data_BTC.head()

        date  market
0 2013-08-01  190367
1 2013-08-02  183766
2 2013-08-03  211731
3 2013-08-04  226680
4 2013-08-05  227272

In [53]:
data_BTC.to_csv('data_BTC.csv')

In [63]:
df_BTC_ind=pd.read_csv('data_BTC.csv',  index_col='date', parse_dates=True)

In [64]:
df_BTC_ind.head()

            Unnamed: 0  market
date
2013-08-01           0  190367
2013-08-02           1  183766
2013-08-03           2  211731
2013-08-04           3  226680
2013-08-05           4  227272

In [65]:
df_BTC_ind.drop('Unnamed: 0', axis=1, inplace=True)

In [66]:
df_BTC_ind.head()

            market
date
2013-08-01  190367
2013-08-02  183766
2013-08-03  211731
2013-08-04  226680
2013-08-05  227272

In [67]:
df_BTC_day=df_BTC_ind.resample('H').apply(np.mean)

            market
date
2013-08-01  190367
2013-08-02  183766
2013-08-03  211731
2013-08-04  226680
2013-08-05  227272

In [69]:
df_BTC_day.head()

                       market
date
2013-08-01 00:00:00  190367.0
2013-08-01 01:00:00       NaN
2013-08-01 02:00:00       NaN
2013-08-01 03:00:00       NaN
2013-08-01 04:00:00       NaN

# Визуализируем наши данные

In [ ]:
plt.figure(figsize=(12,8))
plt.plot(data_BTC['date'], data_BTC['market']);

Сделаем модель пророка

In [ ]:
from fbprophet import Prophet

In [ ]:
help(Prophet)

In [ ]:
m=Prophet()

In [ ]:
predictions=30

In [ ]:
data_BTC.head()

In [ ]:
data_BTC.columns=['ds', 'y']

In [ ]:
m.fit(data_BTC)

In [ ]:
future=m.make_future_dataframe(periods=30)

In [ ]:
forecast=m.predict(future)

In [ ]:
m.plot(forecast)

In [ ]:
m.plot_components(forecast)

In [ ]:
forecast.head()

In [ ]:
y_pred=forecast['yhat']

In [ ]:
test_df=pd.read_csv('test.csv')

In [ ]:
test_df.head()

In [ ]:
def prepr_date(txt):
    if type(txt) != str:
        return None
    else:
        return re.sub(r'[+]|(AC0)', ' ', txt)
    
    
text_cols=['date']

for c in text_cols:
    test_df[c]=test_df[c].map(prepr_date)

In [ ]:
test_BTC=test_df.loc[test_df.index[test_df.name == 'BTC']]

In [ ]:
test_BTC.head()